{% extends "base.html" %}
{% block content %}

<div class="card shadow-lg p-4 mx-auto" style="max-width:400px;">
    <h3 class="text-center mb-3">Login</h3>

    <form method="POST">
        <input class="form-control mb-3" type="email" name="email"
               placeholder="Enter Email" required>

        <input class="form-control mb-3" type="password" name="password"
               placeholder="Enter Password" required>

        <button class="btn btn-primary w-100">Login</button>
    </form>

    <p class="text-center mt-3">
        New user? <a href="/register">Register</a>
    </p>
</div>

{% endblock %}
