{% extends "base.html" %}
{% block content %}

<div class="card shadow-lg p-4 mx-auto" style="max-width:450px;">
    <h3 class="text-center mb-3">Register</h3>

    <form method="POST">
        <input class="form-control mb-2" name="name"
               placeholder="Full Name" required>

        <input class="form-control mb-2" name="email"
               placeholder="Email" required>

        <input class="form-control mb-2" type="password" name="password"
               placeholder="Password" required>
        <select class="form-control mb-3" name="role">
            <option value="student">Student</option>
            <option value="faculty">Faculty</option>
            <option value="admin">Admin</option>
            <option value="staff">Maintenance Staff</option>
        </select>

        <button class="btn btn-success w-100">Register</button>
    </form>

    <p class="text-center mt-3">
        Already registered? <a href="/login">Login</a>
    </p>
</div>

{% endblock %}
