{% extends "base.html" %}
{% block content %}

<h3>Staff Panel - Assigned Complaints</h3>
<hr>

{% if assigned_complaints|length == 0 %}
    <p>No complaints assigned yet.</p>
{% else %}

<table class="table table-bordered table-striped">
    <thead class="table-dark">
        <tr>
            <th>ID</th>
            <th>Category</th>
            <th>Priority</th>
            <th>Status</th>
            <th>Details</th>
            <th>Update Status</th>
        </tr>
    </thead>

    <tbody>
        {% for c in assigned_complaints %}
        <tr>
            <td>{{c.complaint_id}}</td>
            <td>{{c.category}}</td>
            <td>{{c.priority}}</td>

            <td>
                <span class="badge bg-info">{{c.status}}</span>
            </td>

            <td>
                <a href="/complaint/{{c.complaint_id}}" class="btn btn-sm btn-primary">
                    View Details
                </a>
            </td>
            <td>
                <form method="POST" action="/update_status/{{c.complaint_id}}">
                    
                    <select name="status" class="form-control mb-2" required>
                        <option value="In Progress">In Progress</option>
                        <option value="Resolved">Resolved</option>
                        <option value="Closed">Closed</option>
                    </select>

                    <textarea name="remarks" class="form-control mb-2"
                              placeholder="Add remarks..." rows="2"></textarea>

                    <button class="btn btn-sm btn-success w-100">
                        Update
                    </button>
                </form>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>

{% endif %}

<a href="/dashboard" class="btn btn-secondary mt-3">Back</a>

{% endblock %}
